<h2>Passwortreset für <%= @user.vname + " " + @user.nname %></h2>
<div class="form-box">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p><%= t(:error_message, count: @user.errors.count) %></p>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
   	<p>
    	<strong><%= t("new_password") %></strong><br>
    	<%= f.password_field :password, class: "text_field" %>
  	</p>
  	<p>
    	<strong><%= t("activerecord.attributes.user.password_confirmation") %></strong><br>
    	<%= f.password_field :password_confirmation, class: "text_field" %>
  	</p>
    <%= hidden_field_tag(:onetimetoken, @user.onetimetoken) %>
    <%= f.hidden_field :passwd_upd, value: true %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>